html {
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-image: url("../images/fundo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;   /* 100% width auto height */
    background-color: #AAA;  /* NUNCA MAIS! */
    background-blend-mode: multiply;  /* NUNCA MAIS! */
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;   /* Ah danado */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

header {
    flex: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login {
    margin-right: 20px;
}

main {
    flex: 1 auto;
    display: flex;
    justify-content: center;
}

main div {
    display: flex;
    flex: 0 280px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    margin-top: 30px;
    margin-bottom: 15px;
}

input {
    border-radius: 2px;
    line-height: 2.5;
}

#email {
    border: 0;
    border-bottom: 1px solid lightgray;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-indent: 10px;
}

#password {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
    text-indent: 10px;
}

#username {
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-indent: 10px;
}

main > div > p {
    margin-top: 0;
    margin-bottom: 5px;
}

main > div > form {
    margin-top: 15px;
}

#submit {
    background-color: #00B8FF;
    color: white;
    border: 0;
    margin-top: 10px;
}

#trending {
    flex: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#stores {
    flex: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#stores img {
    margin-top: 60px;
    width: 45%;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    flex: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#antesverde {
    display: flex;
    justify-content: space-between;    
}

ul {
    margin: 0;
    width: 250px;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#shiroxix {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#shiroxix img {
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#verde {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00CF35;
    height: 45px;
}